* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'digital-font';
    src: url(../digital-7/digital-7.ttf);
}

body {
    background-color: teal;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6em;
}

.content {
    background-color: black;
    border: 10px solid black;
    border-radius: 12px;
    height: 525px;
    width: 400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.calcButtonDivs {
    border: 1px solid black;
    border-radius: 24x solid black;
}

#screen {
    grid-column-start: span 4;
    background-color: black;
    height: 135px;
    color: red;
    display: flex;
    border: 2px solid black;
    justify-content: end;
    align-items: end;
    font-size: 84px;
    padding-right: 5px;
    padding-bottom: 5px;
    letter-spacing: 2px;
    font-family: 'digital-font';
}

#plusMinus, #percentage, #division, #multiply, 
#seven, #eight, #nine, #subtract, #six, #five, 
#four, #three, #two, #one, #zero, #clear, 
#addition, #equals, #decimal {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Helvetica';
    border-radius: 4px;
    background-color: lightgrey;
}

#equals {
    grid-row: span 2;
}